<nav class="navbar navbar-expand-lg navbar-light bg-light">
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
    {%  set route = app.request.get('_route') %}
  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
      		<li class="nav-item{% if route == 'homepage' %} active{% endif %}">
        		<a class="nav-link" href="{{ path("homepage") }}">Home</a>
      		</li>
      		<li class="nav-item{% if route == 'create_car' %} active{% endif %}">
        		<a class="nav-link" href="{{ path("create_car") }}">Create a car</a>
      		</li>
      		<li class="nav-item{% if route == 'car_list' %} active{% endif %}">
        		<a class="nav-link" href="{{ path("car_list") }}">Cars</a>
      		</li>
      		<li class="nav-item{% if route == 'about' %} active{% endif %}">
        		<a class="nav-link" href="{{ path("about") }}">About</a>
      		</li>
      		<li class="nav-item{% if route == 'create_brand' %} active{% endif %}">
        		<a class="nav-link" href="{{ path("create_brand") }}">Create brand</a>
      		</li>
      		<li class="nav-item{% if route == 'create_seat' %} active{% endif %}">
        		<a class="nav-link" href="{{ path("create_seat") }}">Create seat</a>
      		</li>
      		<li class="nav-item{% if route == 'brand_list' %} active{% endif %}">
        		<a class="nav-link" href="{{ path("brand_list") }}">Brands</a>
      		</li>
      		<li class="nav-item{% if route == 'seat_list' %} active{% endif %}">
        		<a class="nav-link" href="{{ path("seat_list") }}">Seats</a>
      		</li>
    	</ul>
  	</div>
</nav>
